<p><%= @payment['id'] %></p>
<p><%= number_to_currency(@payment['amount']/100, unit: 'USD') %></p>
<p>Card <%= @charges['payment_method_details']['card']['network'].humanize %> : **** **** **** <%= @charges['payment_method_details']['card']['last4'] %></p>